<link rel="stylesheet" href="/stylesheets/form.css" />
<div class="form">
<form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">
  <div>
    <input type="number" placeholder="id" name="id" value="{{ restaurant.id }}" />
  </div>
  <div>
    <input type="text" placeholder="name" name="name" value="{{ restaurant.name }}"required />
  </div>
  <div>
    <input type="text" placeholder="english name" name="name_en" value="{{ restaurant.name_en }}" />
  </div>
  <div>
    <input type="text" placeholder="category" name="category" value="{{ restaurant.category }}" />
  </div>
  <div>
    <input type="text" placeholder="image" name="image" value="{{ restaurant.image }}" />
  </div>
  <div>
    <input type="text" placeholder="location" name="location" value="{{ restaurant.location }}" />
  </div>
  <div>
    <input type="text" placeholder="phone" name="phone" value="{{ restaurant.phone }}"/>
  </div>
  <div>
    <input type="text" placeholder="google_map" name="google_map" value="{{ restaurant.google_map }}"/>
  </div>
  <div>
    <input type="number" placeholder="rating" name="rating" value="{{ restaurant.rating }}" />
  </div>
  <div>
    <input type="text" placeholder="description" name="description" value="{{ restaurant.description }}" />
  </div>

  <button type="submit">Save</button>
  <a href="/">back</a>
</form>
</div>
